@use '../abstract/variables' as v;
@use '../abstract/mixins' as mx;
.products {
	padding-top: 1rem;
	@include mx.flex($aling: flex-start, $justify: flex-start, $gap: 1.7rem);

	&__title {
		font-size: 2.5em;
	}

	&__wrapper {
		width: 100%;
		@include mx.gridResponsive(235px);
	}
}
